<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuOdq_Au6ks-ssS2UglFT4GFxVCfWzr3E</string>
	<key>GCM_SENDER_ID</key>
	<string>288585933876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestore.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>loginsignup1-1b048</string>
	<key>STORAGE_BUCKET</key>
	<string>loginsignup1-1b048.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288585933876:ios:b8c27a7625fdd084de5661</string>
</dict>
</plist>